/* Font faces */
@font-face {
    font-family: Kalameh-Bold;
    src: url("../assets/fonts/Kalameh-Bold.ttf");
}

@font-face {
    font-family: Kalameh-Regular;
    src: url("../assets/fonts/Kalameh-Regular.ttf");
}

@font-face {
    font-family: Kalameh-Medium;
    src: url("../assets/fonts/Kalameh-Medium.ttf");
}

@font-face {
    font-family: Kalameh-Black;
    src: url("../assets/fonts/Kalameh-Black.ttf");
}

@font-face {
    font-family: Kalameh-Thin;
    src: url("../assets/fonts/Kalameh-Thin.ttf");
}

@font-face {
    font-family: Kalameh-Light;
    src: url("../assets/fonts/Kalameh-Light.ttf");
}

@font-face {
    font-family: Kalameh-ExtraLight;
    src: url("../assets/fonts/Kalameh-ExtraLight.ttf");
}

@font-face {
    font-family: peyda-bold;
    src: url("../assets/fonts/PEYDA-BOLD.TTF");
}

@font-face {
    font-family: peyda-medium;
    src: url("../assets/fonts/PEYDA-MEDIUM.TTF");
}

@font-face {
    font-family: peyda-regular;
    src: url("../assets/fonts/PEYDA-REGULAR.TTF");
}

@font-face {
    font-family: peyda-thin;
    src: url("../assets/fonts/PEYDA-THIN.TTF");
}

@font-face {
    font-family: Rubik-Regular;
    src: url("../assets/fonts/Rubik-Regular.ttf");
}

@font-face {
    font-family: Rubik-Bold;
    src: url("../assets/fonts/Rubik-Bold.ttf");
}

@font-face {
    font-family: Rubik-Light;
    src: url("../assets/fonts/Rubik-Light.ttf");
}

@font-face {
    font-family: Rubik-SemiBold;
    src: url("../assets/fonts/Kalameh-SemiBold.ttf");
}

.div-path {
    clip-path: polygon(52% 48%, 100% 0, 100% 100%, 0 100%);
}