@font-face {
    font-family: 'Vazirmatn';
    src: url('../public/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
         url('../public/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  html {
    direction: rtl;
  }